@model int[]

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Panel</h2>

<hr/>

<h3>Users</h3>

<table class="table">
    <tr>
        <th>
            Total Users
        </th>

        <th>
            Total Staff
        </th>

        <th>
            Total Members
        </th>

        <th>
            Total Suspended Users
        </th>
    </tr>

    <tr>
        @for (var i = 0; i < 4; i++)
        {
            <td>
                @Model[i]
            </td>
        }
    </tr>
</table>

@Html.ActionLink("View Users", "All", "User", null, new { @class = "btn btn-primary" })

<hr/>

<h3>Posts</h3>

<table class="table">
    <tr>
        <th>
            Total Posts
        </th>

        <th>
            Total Categories
        </th>
    </tr>

    <tr>
        @for (var i = 4; i < 6; i++)
        {
            <td>
                @Model[i]
            </td>
        }
    </tr>
</table>

<p>
    @Html.ActionLink("Create Post", "CreatePost",  null, new { @class = "btn btn-primary" })
    @Html.ActionLink("View Posts", "ViewPosts",  null, new { @class = "btn btn-primary" })
    @Html.ActionLink("View Categories", "ViewCategories",  null, new { @class = "btn btn-primary" })
</p>